.banner{
    background: #082032;
    height: 12vh;
    border-bottom: #17D7A0 solid 1.5px;
}
.banner_content{
    padding: 5px;
    margin: 0 auto;
    color: #FF4C29;
    font-size:x-large;
    font-family: open sans-serif;
}
.part{
    height: 100vh;
    width: 100%;
}
.part div{
    display: flex;
    align-items: center;
}
.title{
    height: 10vh;
}
.parent{
    height: 90vh;
}


.left_box{
    height: 450px;
    width: 45%;
    float: left;
    margin: auto;
}
.right_box{
    height: 450px;
    width: 45%;
    float: right;
    margin: auto;
}

#text-pocket{
    border-style: solid;
    border-width: 1.5px;
    border-radius: 15px;
    border-color: #17D7A0;
    background-color: #082032;
}
#image-pocket{
    
}
.vector{
    display: block;
    height: 350px;
    width: 470px;
}


#first{
    background-color: #334756;
}
#second{
    background-color: #A6A6A6;
}
#third{
    background-color:#A6A6A6;
}
#fourth{
    background-color: #334756;
}
#fifth{
    background-color: #454545;
}
