<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="Global.css"/>
    <title>Shape up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" href="{% static 'css/Global.css'%}">
</head>
<body>
    <section class="part" id="first">
        <div class="banner">
            <div class="banner_content">
                <h1>Fitness Tracker</h1>
            </div>
        </div>

        <div class="parent">
            <div class="left_box" id="image-pocket">
                <div>
                    <img src="{% static 'images/vectors/first.jpg' %}" alt="A vector image" class="vector"/>
                </div>
            </div>
            <div class="right_box" id="text_pocket" >
                <div class="row">
                    <p>Welcome users</p>
                </div>
                <div class="row">
                    <div class="column">
                        <p>Weight</p>
                        <p>Height</p>
                        <p>BMI</p>
                    </div>
                    <div class="column">
                        <p>80Kg</p>
                        <p>1.78m</p>
                        <p>0.00</p>
                    </div>
                </div>
                <div class="row">
                    <p>Message on how the user is fairing on</p>
                </div>
            </div>
        </div>
    </section>
    <section class="part" id="second">
        <div class="title">
            <div class="banner_content">
                <h1>Walking</h1>
            </div>
        </div>

        <div class="parent">
            <div class="left_box" id="text-pocket">
                test data
            </div>
            <div class="right_box" id="image-pocket">
                <div>
                    <img src="{% static 'images/vectors/walking.png' %}" alt="A vector image" class="vector"/>
                </div>
            </div>
        </div>
    </section>
    <section class="part" id="third">
        <div class="title">
            <div class="banner_content">
                <h1>Cycling</h1>
            </div>
        </div>

        <div class="parent">
            <div class="left_box" id="image-pocket">
                <div>
                    <img src="{% static 'images/vectors/cycling.png' %}" alt="A vector image" class="vector"/>
                </div>
            </div>
            <div class="right_box" id="text-pocket">
                test data
            </div>
        </div>
    </section>
    <section class="part" id="fourth">
        <div class="title">
            <div class="banner_content">
                <h1>Swimming</h1>
            </div>
        </div>

        <div class="parent">
            <div class="left_box" id="text-pocket">
                test data
            </div>
            <div class="right_box" id="image-pocket">
                <div>
                    <img src="{% static 'images/vectors/swimming.png' %}" alt="A vector image" class="vector"/>
                </div>
            </div>
        </div>
    </section>
    <section class="part" id="fifth">
        <div class="title">
            <div class="banner_content">
                <h1>Running</h1>
            </div>
        </div>

        <div class="parent">
            <div class="left_box" id="image-pocket">
                <div>
                    <img src="{% static 'images/vectors/running.png' %}" alt="A vector image" class="vector"/>
                </div>
            </div>
            <div class="right_box" id="text-pocket">
                test data
            </div>
        </div>
    </section>
</body>
</html>