<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="landing.css"/>
</head>
<body>
    <div class="hero">
        <div class="pocket">
            <h1 class="banner">Fitness Tracker</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut possimus magnam voluptates saepe modi sint, nobis minus, quis amet ex facere, hic necessitatibus dolorem illo nihil iste blanditiis sapiente earum!
            </p>
            <button class="getstarted"><a href="register.html">Login or Register</a></button>
        </div>
    </div>
</body>
</html>